body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

a {
  text-decoration: none;
  font-style: normal;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
} */

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  margin: 0 auto;
}

.header-nav-wrapper {
  display: none;
}
